@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");


body {
    margin: 0px;
  	font-family: 'Roboto', sans-serif;
	background-color: #F4F6F9;
    min-width: 900px;/*Larghezza minima della pagina web*/
    min-height: 500px;
}

.h2 {
    color: #211f2d;
}

.h3 {
   color: #302D43;
}

#sideMenu {
    padding-top: 10px;
    z-index: 0;
    background: #282639;
    width: 15%;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; }

    #sideMenu #logo {
        padding-left: 30px;
        padding-top: 10px;
        height: fit-content;
        width: fit-content;
        font-family: 'Pacifico', cursive;
      }
        #sideMenu nav {
        margin-top: 5px;
        padding-top: 30px;
      }
        #sideMenu nav a {
          display: block;
          color: #EAEDF3;
          text-decoration: none;
          padding: 15px 30px;
          font-weight: 300;

        }
          #sideMenu nav a:hover {
            border-left: 5px solid #00CED1;
            background: #302D43;
            padding: 15px 30px 15px 25px;
          }
           #sideMenu nav a.active {
              border-left: 5px solid #92CF4B;
              color: #F0FFFF;
              background: #302D43;
              padding: 15px 30px 15px 25px;
          }
          #sideMenu nav a .fas {
            color: #EAEDF3;
            font-size: 1.4rem;
            margin-right: 0.8rem;
            display: inline-block;
            width: 30px;
            position: relative;
            top: 2px;
          }
          #sideMenu nav a:hover .fas {
              color: #00CED1; }

          #sideMenu nav a.active .fas{
              color: #92CF4B; }




/******INIZIO HEADER******/

/*
 * Stile contenitore superiore che include il logo dell'azienda ed il menu dei gruppi (header)
 */
header {
    font-family: 'Pacifico', cursive;
    color: #aaf1e3;
    background: #302D43;
    text-shadow: 1px 1px 1px #302D43;/*Testo ombreggiato*/
    font-size: 13px;
    z-index: 1;
    height: 60px; /*Altezza contenitore superiore (Dovrà contenere: NomeAzienda e Menu Gruppi)*/

 }

/******FINE HEADER******/


/******INIZIO BODY******/

/*
 * Stile contenitore padre che include il tag aside e main
 */
div#page {
    display: flex;
    align-items: stretch;
    text-align: center;
    height: 100%;
}

/*
 * Stile contenitore principale della pagina web
 */
div#page>main{
    margin-left: 15%;
    width: calc( 75% - 20px );
    text-align: center;
    font-min-size: 13px;
    flex-grow: 1;
}


.myButton {
	background-color:#b3e3f5;
	border-radius:16px;
	border:2px solid #3eb5e0;
	display:inline-block;
	cursor:pointer;
	color:#3e2b63;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 6px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#8de3f0;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*
 * Stile tabella
 */
div#page>main>table {

    margin-top: 30px;
    margin-bottom: 30px;
    width: 60%;
    border: 10px;
    border-collapse: collapse;
    font-size: 15px;
}

div#page>main>table th, tr, td {
    padding: 9px 12px;
    border: #211f2d;
    text-decoration: none;
}

div#page > main > table th {
    background: #8ce3e6;
    color: #222030;
}

div#page > main >table tr:nth-child(odd){
  background-color: rgb(227, 248, 245);
}

div#page > main > table tr:nth-child(even){
  background-color: rgb(243, 248, 244);
}

/*
 * Stile della form
 */
form {
	border: 1px solid #b0b0b0;
	border-radius: 5px;
	width: 80%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*
 * Stile dei riquadri di input generici
 */
input {
	margin: 8px 0;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

input:hover {
	border: 1px solid #555555;
}

input:focus{
	border: 1px solid #555555;
}

/*
 * Stile dei riquadri di input di testo
 */
input[type=text] {
	width: 20%;
	margin: 8px 0;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

input[type=text]:hover {
	border: 1px solid #555555;
}

input[type=text]:focus{
	border: 1px solid #555555;
}

/*
 * Stile dei campi di input password
 */
input[type=password] {
	width: 20%;
	margin: 8px 0;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

input[type=password]:hover {
	border: 1px solid #555555;
}

input[type=password]:focus{
	border: 1px solid #555555;
}


/*
 * Stile dei menù di selezione
 */
select{
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

select:hover{
	border: 1px solid #555555;
}

select:focus{
	border: 1px solid #555555;
}

/*
 * Stile delle aree di testo
 */
textarea{
	resize: vertical;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	width: 96%;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

textarea:hover {
	border: 1px solid #555555;
}

textarea:focus{
	border: 1px solid #555555;
}

/*
 * Stile dei label
 */
label {
	padding-left: 5px;
	padding-right: 5px;
}

/*
 * Stile dei fieldset
 */
fieldset {
	padding: 0 0;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

fieldset:hover {
	border: 1px solid #555555;
}

fieldset:active {
	border: 1px solid #555555;
}


/******FINE BODY******/


/******INIZIO FOOTER******/

/*
 * Stile contenitore inferiore (footer)
 */
footer {
    bottom: 0;
    left: 0;
    width: 85%;
    background: #f1f1f1;
    color: #777;
    font-size: 14px;
    height: fit-content;
    line-height: 50px;
    margin-left: 15%;
    text-align: center;
    position: absolute;
}

/******FINE FOOTER******/
