<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}

{% block content %}

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    </script>

    {% block javascript %}
    <script type="text/javascript">

      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      var data_n = JSON.parse('{{ data|safe }}');

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Status', 'Numero di vasi'],
          ['(0 - 19)%', data_n[0].n_2],
          ['(20 - 39)%', data_n[0].n_4],
          ['(40 - 59)%', data_n[0].n_6],
          ['(60 - 79)%', data_n[0].n_8],
          ['(80 - 100)%', data_n[0].n_10],
          ['Non rilevato', data_n[0].n_None]
        ]);

        var options = {
          title: 'Stato delle piante',
          pieHole: 0.5 ,
          pieStartAngle: 100,
          pieSliceTextStyle: {
            color: 'black',
          },
          colors: ['indianred','orange','gold','greenyellow','mediumseagreen','#b8e1fa']
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>

   <script type="text/javascript">

        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);

        var data2 = JSON.parse('{{ data2|safe }}');
        let data_list = [];
        let elem = ['Radio', 'Vasi', { role: "style" } ];
        data_list.push(elem);
        const count = Object.keys(data2).length;
        let i = 0;
        let color = ""
        while (i < count){
            if (parseInt(data2[i].num) == 1)
                color = "lightblue"
            if (parseInt(data2[i].num) >= 2)
                color = "#74a4f1"
            if (parseInt(data2[i].num) >= 5)
                color = "royalblu"
            if (parseInt(data2[i].num) >= 10)
                color = "blue"
            if (parseInt(data2[i].num) >= 20)
                color = "darkblue"
            elem = [ data2[i].radio, parseInt(data2[i].num), color];
            data_list.push(elem);
            i++;
        }
        function drawChart() {
          var data = google.visualization.arrayToDataTable(data_list);

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                            { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                             2]);

          var options = {
            title: "Distribuzione dei vasi",
            width: 800,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
          };
          var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
          chart.draw(view, options);
      }
     </script>

    {% endblock %}

  </head>
  <body class="B2">
    <h2 class="mt-3"> Dashboard </h2>
    <table class="MyTable" width="300px">
        <tr>
           <td><b> Totale piante </b>  </td>
           <td> {{plants|length}} </td>
        </tr>
        <tr>
           <td> <b> Totale radio </b> </td>
           <td> {{radios|length}} </td>
        </tr>
    </table>

    {% if plants %}
        <div id="donutchart" style="height: 500px; width: 800px; overflow: hidden;";></div>
    {% endif %}
    {% if radios %}
    <div id="barchart_values"  style="display: inline-table;"></div>
    {% endif %}
  </body>

  {% endblock %}

</html>