<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}

{% block content %}

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    </script>
    {% block javascript %}
    <script type="text/javascript">

      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      var data_n = JSON.parse('{{ data|safe }}');

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Status', 'Numero di vasi'],
          ['Happy', data_n[0].happy],
          ['Sad', data_n[0].sad]
        ]);

        var options = {
          title: 'Status Vasi',
          pieHole: 0.5 ,
          pieStartAngle: 100,
          pieSliceTextStyle: {
            color: 'black',
          },
          colors: ['#6495ed', '#66cdaa']
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
    {% endblock %}
  </head>
  <body class="B2">
    <h2 class="mt-3"> Dashboard </h2>
    <div id="donutchart" style="width: 900px; height: 500px;"></div>
  </body>

  {% endblock %}

</html>