<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

      <title>Gio Vase</title>

  <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

  <!-- Custom styles for this template -->
      <link href="{{ url_for('static', filename='css/all.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/solid.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/fontawesome.css') }}" rel="stylesheet">
  </head>


  <body>

  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
        <IMG src="{{ url_for('static', filename='logoVerdepiccolo.png') }}">
      <div class="list-group list-group-flush" id="list-group">
          <a href="/home" class="list-group-item list-group-item-action bg-dark">
              <i class="fas fa-home"></i> Home</a>
          <a href="/dashboard" class="list-group-item list-group-item-action bg-dark">
              <i class="fas fa-chart-area"></i> Dashboard</a>
          <a href="/radios" class="list-group-item list-group-item-action bg-dark">
              <i class="fas fa-rss"></i> Radio</a>
          <a href="/plants/info" class="list-group-item list-group-item-action bg-dark">
              <i class="fab fa-envira"></i> Piante</a>
          <a href="/connections/info" class="list-group-item list-group-item-action bg-dark">
              <i class="fas fa-plus"></i> Nuove piante
              {% if connections %}
                <span class="badge badge-primary2 badge-pill2"> {{connections|length}} </span>
              {% endif %}
          </a>
          <a href="/map" class="list-group-item list-group-item-action bg-dark">
              <i class="fas fa-project-diagram"></i> Mappa</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
        <button class="btn btn-outline-secondary my-2 my-sm-0" id="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
               {% if searchBar == 'si' %}
              <li>
                  <form  class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Cerca" aria-label="Cerca">
                  <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Cerca</button>
                  </form>
              </li>
              {% endif %}

          </ul>
        </div>

      </nav>


      <div class="container-fluid">
          {% block content %}
          {% endblock %}
      </div>

    </div>

    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
   <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

   <script>
      $(window).load(function(){
       var checkvalue= window.location.pathname;
       //alert(checkvalue);
       $("a").each(function(){
                            if($(this).attr('href')== checkvalue)
                             { $(this).addClass("active");}
                             });

                        });
  </script>

  </body>

</html>