<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

      <title>Gio Vase | Login</title>

  <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

  <!-- Custom styles for this template -->
      <link href="{{ url_for('static', filename='css/all.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/solid.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/fontawesome.css') }}" rel="stylesheet">
  </head>

 <body style="background: #333a40" align="center">
    <div class="container-fluid">
        <IMG src="{{ url_for('static', filename='logoVerde.png') }}">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}

                <div style="width: 300px" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"> <i class="fas fa-user"></i>
                        </span>
                     </div>
                    <input id="username" aria-describedby="basic-addon1" type="text" class="form-control" name="username" placeholder="Username">
                </div>

                <div style="width: 300px" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2"> <i class="fas fa-lock"></i>
                        </span>
                     </div>
                    <input id="password" aria-labelledby="basic-addon2" type="password" class="form-control" name="password" placeholder="Password">
                </div>

                <input class="btn btn-outline-primary my-lg-1" style="width: 130px" id="submit" name="submit" type="submit" value="Login">
            </form>
            </div>
        </div>
    </div>
 </body>