<!DOCTYPE html>
{% extends 'layout.html' %}

{% block content %}
<h2 class="mt-3"> Mappa delle Radio e dei Vasi</h2>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>


<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/arbor.js')}}"></script>
    <script src="{{ url_for('static', filename='js/arbor-tween.js')}}"></script>
    <script src="{{ url_for('static', filename='js/graphics.js')}}"></script>
    <script src="{{ url_for('static', filename='js/colors.js')}}"></script>
    <script src="{{ url_for('static', filename='js/primitives.js')}}"></script>
    <script src="{{ url_for('static', filename='js/renderer.js')}}"></script>
    <canvas id="viewport" width="700" height="500"></canvas>

    {% block javascript %}
    <script>
        var sys = arbor.ParticleSystem(500,600,0.9,true);
        sys.parameters({gravity:true});
        var data = JSON.parse('{{ data|safe }}');
        sys.renderer = Renderer("#viewport");
          for (const node of data.nodes) {
              if(node.type == 'radio')
                sys.addNode(node.name,{'color':'royalblue','shape': 'dot','label':node.toshow });
              else{
                  if (node.color == 'sad')
                      sys.addNode(node.name,{'color': 'red','label':node.toshow});
                  else
                       sys.addNode(node.name,{'color': 'green','label':node.toshow});
              }

          }
          for (const edge of data.edges) {
                  sys.addEdge(sys.getNode(edge.src),sys.getNode(edge.dest));
              }

    </script>
    {% endblock %}

</body>

{% endblock %}

