<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}

    {% block content %}

    <section id="sideMenu">
        <section id="logo">
          <img src="{{ url_for('static', filename='GioVase.png') }}">
        </section>
      <nav>
        <a href="http://127.0.0.1:5000/"><i class="fas fa-home"></i>Home</a>
        <a href="http://127.0.0.1:5000/plants"  class="active"> <i class="fas fa-seedling"></i>Piante </a>
          <a href="http://127.0.0.1:5000/connections"><i class="fas fa-exclamation"></i>Nuove piante </a>
      </nav>
    </section>

    <h2> Stato della pianta {{ plant.id }} </h2>

     <table  align="center">
        <thead>
            <tr>
                <th> Luce per innaffiare </th>
                <th> Dimensione contenitore acqua </th>
                <th> Contenitore Acqua </th>
                <th> Azioni </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ plant.watering_light * 100 // 255 }} % </td>
                <td> {{plant.water_container_size}} litri</td>
                <td> {% if plant.water_container_state is sameas True %}
                    Pieno
                {% else %}
                    Vuoto
                {% endif %}
                </td>
                <td>
                    <a class="myButton"  href=""><i class="fas fa-edit"></i> </a>
                    <a class="myButton"  title="Riempi container" href="http://127.0.0.1:5000/container_full/{{ plant.id }}"> <i class="fas fa-fill-drip"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

   <table class="table1" align="center">
    <thead>
    <tr>
        <th> Umidita' </th>
        <th> Temperatura </th>
        <th> Luce </th>
        <th> Azioni </th>
    </tr>
    </thead>
     <tbody>
       <tr>
           <td> {% if plant.humidity is sameas None %}
                    -
                {% else %}
                    {{ plant.humidity * 100 // 1023 }}%
                {% endif %}
           </td>
           <td> {% if plant.temperature is sameas None %}
                      -
                 {% else %}
                     {{ plant.temperature }}C
                 {% endif %}
           </td>
           <td> {% if plant.light is sameas None %}
                    -
                 {% else %}
                     {{ plant.light * 100 // 255 }}%
                 {% endif %}
           </td>

           <td>
               <a class="myButton"
                  href="http://127.0.0.1:5000/humidity/{{plant.id}}"
                  title="Richiedi umidita">
                   <i class="fas fa-tint"></i>
               </a>
               <a class="myButton"
                  href="http://127.0.0.1:5000/temperature/{{plant.id}}"
                  title="Richiedi temperatura">
                   <i class="fas fa-temperature-high"></i>
               </a>
               <a class="myButton"
                  href="http://127.0.0.1:5000/light/{{plant.id}}" title="Richiedi luce">
                   <i class="fas fa-sun"></i>
               </a>
               <a class="myButton" href="http://127.0.0.1:5000/water/{{plant.id}}" title="Innaffia">
                   <i class="fas fa-shower"></i>
               </a>
           </td>
       </tr>
     </tbody>
    </table>

    <p>

    </p>

    <table  align="center">
    <thead>
        <tr>
            <th> Umidita' minima </th>
            <th> Luce minima</th>
            <th> Temperatura minima</th>
        </tr>
    </thead>
    <tbody>
         <tr>
               <td> {{ plant.humidity_min * 100 // 1023 }}% </td>
               <td> {{ plant.light_min * 100 // 255 }}%  </td>
               <td> {{ plant.temperature_min }} C </td>
         </tr>
    </tbody>
    <thead>
        <tr>
            <th> Umidita' massima </th>
            <th> Luce massima  </th>
            <th> Temperatura massima </th>
        </tr>
    </thead>
        <tbody>
       <tr>
           <td> {{ plant.humidity_max * 100 // 1023 }}% </td>
           <td> {{ plant.light_max * 100 // 255 }}% </td>
           <td> {{ plant.temperature_max }} C </td>
       </tr>
        </tbody>
    </table>


    <h3>
        <a class="myButton" href="http://127.0.0.1:5000/plants"> <i class="fas fa-arrow-circle-left"></i> Torna alla lista </a>
    </h3>
    {% endblock %}

</html>