<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}

    {% block content %}

    {% if alert == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            La richiesta dell' operazione e' avvenuta con successo.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if alert == 'fail' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Impossbile inoltrare la richiesta - Operazione faillita
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}

    <h2 class="mt-3">
        Stato della pianta <br> <code>{{ plant.name }}</code> :
        {% if plant.state is sameas True %}
            Happy <i class="far fa-smile-beam"></i>
        {% else %}
            Sad <i class="far fa-frown"></i>
        {% endif %}
    </h2>

     <table class="MyTable" align="center">
        <thead>
            <tr>
                <th>Luce per innaffiare </th>
                <th>Dimensione contenitore </th>
                <th>Stato contenitore </th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ plant.watering_light * 100 // 255 }}% </td>
                <td> {{plant.water_container_size}} litri</td>
                <td> {% if plant.water_container_state is sameas True %}
                    Pieno
                {% else %}
                    Vuoto
                {% endif %}
                </td>
                <td>

                     <a class="myButton" href="http://127.0.0.1:5000/vase_state/{{plant.id}}" title="Richiedi stato">
                        <i class="fas fa-smile-beam"></i>
                     </a>

                    <a class="myButton" href="http://127.0.0.1:5000/water/{{plant.id}}" title="Innaffia">
                       <i class="fas fa-shower"></i>
                    </a>
                    <a class="myButton" href="http://127.0.0.1:5000/container_state/{{plant.id}}" title="Stato contenitore">
                        <i class="fas fa-water"></i>
                    </a>


                    </td>
            </tr>
        </tbody>
    </table>

   <table class="MyTable" align="center">
    <thead>
    <tr>
        <th> Umidita' </th>
        <th> Temperatura </th>
        <th> Luce </th>
        <th> Azioni </th>
    </tr>
    </thead>
     <tbody>
       <tr>
           <td> {% if plant.humidity is sameas None %}
                    -
                {% else %}
                    {{ plant.humidity * 100 // 1023 }}%
                {% endif %}
           </td>
           <td> {% if plant.temperature is sameas None %}
                      -
                 {% else %}
                     {{ plant.temperature }}°C
                 {% endif %}
           </td>
           <td> {% if plant.light is sameas None %}
                    -
                 {% else %}
                     {{ plant.light * 100 // 255 }}%
                 {% endif %}
           </td>

           <td>
               <a class="myButton" href="http://127.0.0.1:5000/humidity/{{plant.id}}"
                  title="Richiedi umidita">
                   <i class="fas fa-tint"></i>
               </a>
               <a class="myButton" href="http://127.0.0.1:5000/temperature/{{plant.id}}"
                  title="Richiedi temperatura">
                   <i class="fas fa-temperature-high"></i>
               </a>
               <a class="myButton" href="http://127.0.0.1:5000/light/{{plant.id}}" title="Richiedi luce">
                   <i class="fas fa-sun"></i>
               </a>

           </td>
       </tr>
     </tbody>
    </table>

    <p>

    </p>

    <table class="MyTable" align="center">
    <thead>
        <tr>
            <th> Umidita' minima </th>
            <th> Luce minima</th>
            <th> Temperatura minima</th>
        </tr>
    </thead>
    <tbody>
         <tr>
               <td> {{ plant.humidity_min * 100 // 1023 }}% </td>
               <td> {{ plant.light_min * 100 // 255 }}%  </td>
               <td> {{ plant.temperature_min }}°C  </td>
         </tr>
    </tbody>
    <thead>
        <tr>
            <th> Umidita' massima </th>
            <th> Luce massima  </th>
            <th> Temperatura massima </th>
        </tr>
    </thead>
        <tbody>
       <tr>
           <td> {{ plant.humidity_max * 100 // 1023 }}% </td>
           <td> {{ plant.light_max * 100 // 255 }}% </td>
           <td> {{ plant.temperature_max }}°C  </td>
       </tr>
        </tbody>
    </table>


    <h2>
        <a class="myButton"href="http://127.0.0.1:5000/plants/info"> <i class="fas fa-arrow-circle-left"></i> Torna alla lista </a>
        <a class="myButton" title="Modifica" href="http://127.0.0.1:5000/settings/{{ plant.id }}/vase"> <i class="fas fa-cog"></i> Modifica </a>
    </h2>

    {% endblock %}

</html>