<!DOCTYPE html>
<html>

{% extends 'layout.html' %}


 {% block content %}
 {% if plants %}
    {% if alert == 'add-success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Pianta aggiunta con successo!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <h2 class="mt-3"> Piante registrate </h2>

    <table width="500px" class="MyTable" align="center">

        <thead>
        <tr>
            <th> Nome Vaso </th>
            <th> Nome Radio </th>
            <th> Dettagli </th>
        </tr>
        </thead>

        <tbody>
         {% for plant in plants|sort(attribute="radio_id") %}
           <tr>
               <td> {{ plant.name }} </td>
               <td>  {% for radio in radios: %}
                        {% if radio.id == plant.radio_id %}
                            {{radio.name}}
                        {% endif %}
                     {% endfor %}
               </td>
               <td>
                    <a class="myButton" title="Info" href="http://127.0.0.1:5000/plant/{{ plant.id }}/info">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
               </td>
           </tr>
        {% endfor %}
        </tbody>

    </table>
    {% else %}
        <h2 class="mt-3"> Nessuna pianta registrata</h2>
    {% endif %}

    {% endblock %}

</html>
