<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}


    {% block content %}

    {% if alert == 'name-success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Nome della pianta cambiato con successo!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if alert == 'name-fail' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Impossibile cambiare nome della pianta - duplicato
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if alert == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Operazione avvenuta con successo!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if alert == 'url-fail' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Indirizzo Radio inesistente - Operazione faillita
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}

    {% if alert == 'param-fail' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Controlla che i parametri di Umidita' e Luminosita' siano compresi tra lo 0% e il 100%!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}

    {% if alert == 'fail' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Impossbile inoltrare la richiesta - Operazione faillita
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}

    <h2 class="mt-3"> Impostazioni del vaso <br> <code>{{ plant.name }}</code> </h2>

        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

          <table  width="600px" class="MyTable" align="center">
              <tr>
                 <td> <label>{{ form.name.label }}</label> </td>
                 <td>{{ form.name(size=24, value = plant.name)}} </td>
                  <td> {{ form.submit()}} </td>
               </tr>
          </table>

            <br>
            <br>

         <table width="600px"  style=" margin-bottom:0px" class="MyTable" align="center">

             <tr>
                 <td> <label>{{ form.hum_min.label }}</label> </td>
                 <td>{{ form.hum_min(size=2, value = (plant.humidity_min * 100 / 1023) |round |int)  }} % </td>
                 <td>  <label>{{ form.hum_max.label }}</label> </td>
                 <td>{{ form.hum_max(size=2, value= (plant.humidity_max * 100 / 1023) |round|int ) }} %</td>
             </tr>

             <tr>
                 <td>  <label>{{ form.light_min.label }} </label> </td>
                 <td> {{ form.light_min(size=2, value= (plant.light_min * 100 / 255) | round | int)  }} %</td>
                 <td> <label>{{ form.light_max.label }}</label> </td>
                 <td> {{ form.light_max(size=2, value= (plant.light_max * 100 / 255)|round|int )  }} %</td>
             </tr>

              <tr>
                 <td> <label>{{ form.temp_min.label }}</label> </td>
                 <td> {{ form.temp_min(size=2, value=plant.temperature_min) }} °C </td>
                 <td> <label>{{ form.temp_max.label }}</label> </td>
                 <td> {{ form.temp_max(size=2, value=plant.temperature_max) }} °C </td>
             </tr>

             <tr>
                 <td>  <label>{{ form.watering_light.label }} </label> </td>
                 <td> {{ form.watering_light(size=2, value= (plant.watering_light * 100 / 255)|round|int )  }} % </td>
                 <td> <label>{{ form.water_container_size.label }}</label> </td>
                 <td> {{ form.water_container_size(size=2, value=plant.water_container_size) }} litri </td>
             </tr>

             <tr>
                 <td>  <label>{{ form.transmit_power.label }} </label> </td>
                 <td>  <select name="transmit_power" class="form-control form-control-sm">

                         {% if plant.transmit_power == 1 %}
                            <option value="1" selected>1</option>
                         {% else %}
                            <option value="1">1</option>
                         {% endif %}

                         {% if plant.transmit_power == 2 %}
                            <option value="2" selected>2</option>
                         {% else %}
                            <option value="2">2</option>
                         {% endif %}

                         {% if plant.transmit_power == 3 %}
                            <option value="3" selected>3</option>
                         {% else %}
                            <option value="3">3</option>
                         {% endif %}

                         {% if plant.transmit_power == 4 %}
                            <option value="4" selected>4</option>
                         {% else %}
                            <option value="4">4</option>
                         {% endif %}

                         {% if plant.transmit_power == 5 %}
                            <option value="5" selected>5</option>
                         {% else %}
                            <option value="5">5</option>
                         {% endif %}

                         {% if plant.transmit_power == 6 %}
                            <option value="6" selected>6</option>
                         {% else %}
                            <option value="6" >6</option>
                         {% endif %}

                         {% if plant.transmit_power == 7 %}
                            <option value="7" selected>7</option>
                         {% else %}
                            <option value="7">7</option>
                         {% endif %}
                    </select>
                 </td>
                 <td> <label>{{ form.send_time.label }}</label> </td>
                 <td> <select name="send_time" class="form-control form-control-sm">
                        {% if plant.send_time == 5 %}
                            <option value="5" selected>5 min.</option>
                         {% else %}
                            <option value="5">5 min.</option>
                         {% endif %}

                         {% if plant.send_time == 10 %}
                            <option value="10" selected>10 min.</option>
                         {% else %}
                            <option value="10">10 min.</option>
                         {% endif %}

                         {% if plant.send_time == 15 %}
                            <option value="15" selected>15 min.</option>
                         {% else %}
                            <option value="15">15 min.</option>
                         {% endif %}

                         {% if plant.send_time == 20 %}
                            <option value="20" selected>20 min.</option>
                         {% else %}
                            <option value="20">20 min.</option>
                         {% endif %}

                        {% if plant.send_time == 25 %}
                            <option value="25" selected>25 min.</option>
                        {% else %}
                            <option value="25">25 min.</option>
                        {% endif %}

                        {% if plant.send_time == 30 %}
                            <option value="30" selected>30 min.</option>
                        {% else %}
                            <option value="30">30 min.</option>
                        {% endif %}

                        {% if plant.send_time == 35 %}
                            <option value="35" selected>35 min.</option>
                        {% else %}
                            <option value="35">35 min.</option>
                        {% endif %}

                        {% if plant.send_time == 40 %}
                            <option value="40" selected>40 min.</option>
                        {% else %}
                            <option value="40">40 min.</option>
                        {% endif %}

                        {% if plant.send_time == 50 %}
                            <option value="50" selected>50 min.</option>
                        {% else %}
                            <option value="50">50 min.</option>
                        {% endif %}

                        {% if plant.send_time == 60 %}
                            <option value="60" selected>1 h.</option>
                        {% else %}
                            <option value="60">1 h.</option>
                        {% endif %}
                     </select>
                 </td>
             </tr>

         </table>
         <table width="600px" class="MyTable" style=" margin-top: 0px; text-align: center" align="center">
             <tr>
                 <td> {{ form.submit()}} </td>
             </tr>
         </table>


    </form>
    <br>
    <br>
    <a class="myButton" href="http://127.0.0.1:5000/plant/{{plant.id}}/info"> <i class="fas fa-arrow-circle-left"></i> Indietro </a>

    {% endblock %}