<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}


    {% block content %}

    {% if alert == 'name-success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Nome della pianta cambiato con successo!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if alert == 'name-fail' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Impossibile cambiare nome della pianta - duplicato
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if alert == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Operazione avvenuta con successo!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if alert == 'url-fail' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Indirizzo Radio inesistente - Operazione faillita
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}

    {% if alert == 'param-fail' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Controlla che i parametri di Umidita' e Luminosita' siano compresi tra lo 0% e il 100%!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}

    {% if alert == 'fail' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Impossbile inoltrare la richiesta - Operazione faillita
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}

    <h2 class="mt-3"> Impostazioni del vaso <br> <code>{{ plant.name }}</code> </h2>

        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

          <table  width="600px" class="MyTable" align="center">
              <tr>
                 <td> <label>{{ form.name.label }}</label> </td>
                 <td>{{ form.name(size=24, value = plant.name)}} </td>
                  <td> {{ form.submit()}} </td>
               </tr>
          </table>

            <br>
            <br>

         <table width="600px"  style=" margin-bottom:0px" class="MyTable" align="center">

             <tr>
                 <td> <label>{{ form.hum_min.label }}</label> </td>
                 <td>{{ form.hum_min(size=3, value = (plant.humidity_min * 100 / 1023) |round |int)  }} </td>
                 <td>  <label>{{ form.hum_max.label }}</label> </td>
                 <td>{{ form.hum_max(size=3, value= (plant.humidity_max * 100 / 1023) |round|int ) }}</td>
             </tr>

             <tr>
                 <td>  <label>{{ form.light_min.label }} </label> </td>
                 <td> {{ form.light_min(size=3, value= (plant.light_min * 100 / 255) | round | int)  }} </td>
                 <td> <label>{{ form.light_max.label }}</label> </td>
                 <td> {{ form.light_max(size=3, value= (plant.light_max * 100 / 255)|round|int )  }} </td>
             </tr>

              <tr>
                 <td> <label>{{ form.temp_min.label }}</label> </td>
                 <td> {{ form.temp_min(size=3, value=plant.temperature_min) }} </td>
                 <td> <label>{{ form.temp_max.label }}</label> </td>
                 <td> {{ form.temp_max(size=3, value=plant.temperature_max) }} </td>
             </tr>

             <tr>
                 <td>  <label>{{ form.watering_light.label }} </label> </td>
                 <td> {{ form.watering_light(size=3, value= (plant.watering_light * 100 / 255)|round|int )  }} </td>
                 <td> <label>{{ form.water_container_size.label }}</label> </td>
                 <td> {{ form.water_container_size(size=3, value=plant.water_container_size) }} </td>
             </tr>
         </table>
         <table width="600px" class="MyTable" style=" margin-top: 0px; text-align: center" align="center">
             <tr>
                 <td> {{ form.submit()}} </td>
             </tr>
         </table>


    </form>
    <br>
    <br>
    <a class="myButton" href="http://127.0.0.1:5000/plant/{{plant.id}}/info"> <i class="fas fa-arrow-circle-left"></i> Indietro </a>

    {% endblock %}