<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}


    {% block content %}

    <h2 class="mt-3"> Impostazioni del vaso <br> <code>{{ plant.name }}</code> </h2>

        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

          <table  width="500px" style="margin-bottom: 30px" class="MyTable" align="center">
            <tr class="m-3">
              <td>
                <div style="text-align: center; width: 300px" class="input-group m-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"> Nome Pianta
                        </span>
                    </div>
                    <input id="name" aria-describedby="basic-addon1" type="text" class="form-control" name="name" value={{plant.name}}>
                </div>
              <td>  <button class="myButton" id="submit" name="submit" type="submit"> Imposta </button>  </td>
               </tr>
          </table>

         <table width="750px"  style=" margin-bottom:0px" class="MyTable" align="center">

             <tr>
                 <td>
                     <div style="text-align: center; width: 300px" class="input-group m-3">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="huminAddon"> Umidita' Minima
                            </span>
                        </div>

                        <input id="hum_min" aria-labelledby="huminAddon"
                               type="text" class="form-control"
                               name="hum_min" value= "{{ (plant.humidity_min * 100 / 1023) |round |int }}">

                        <div class="input-group-append">
                            <span class="input-group-text" id="percentuale"> % </span>
                        </div>

                    </div>
                 </td>

                 <td>
                    <div style="text-align: center; width: 300px" class="input-group m-3">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="hummaxAddon"> Umidita' Massima
                            </span>
                        </div>

                        <input id="hum_max" aria-labelledby="hummaxAddon"
                               type="text" class="form-control"
                               name="hum_max" value= "{{ (plant.humidity_max * 100 / 1023) |round|int  }}">

                        <div class="input-group-append">
                            <span class="input-group-text"> % </span>
                        </div>

                    </div>
                 </td>
             </tr>

             <tr>
                 <td>
                     <div style="text-align: center; width: 300px" class="input-group m-3">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="lightMinAddon"> Luce Minima
                            </span>
                        </div>

                        <input id="light_min" aria-labelledby="lightMinAddon"
                               type="text" class="form-control"
                               name="light_min" value= "{{ (plant.light_min * 100 / 255) | round | int  }}">

                        <div class="input-group-append">
                            <span class="input-group-text"> % </span>
                        </div>

                     </div>
                 </td>
                 <td>
                    <div style="text-align: center; width: 300px" class="input-group m-3">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="lightMaxAddon"> Luce Massima
                            </span>
                        </div>

                        <input id="light_max" aria-labelledby="lightMaxAddon"
                               type="text" class="form-control"
                               name="light_max" value= "{{ (plant.light_max * 100 / 255)|round|int }}">

                        <div class="input-group-append">
                            <span class="input-group-text"> % </span>
                        </div>

                    </div>
                 </td>
             </tr>

              <tr>
                 <td>
                    <div style="text-align: center; width: 300px" class="input-group m-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="tempMinAddon"> Temperatura Minima
                            </span>
                        </div>

                        <input id="temp_min" aria-labelledby="tempMinAddon"
                               type="text" class="form-control"
                               name="temp_min" value= "{{ plant.temperature_min }}">

                        <div class="input-group-append">
                            <span class="input-group-text"> °C </span>
                        </div>

                    </div>
                 </td>

                 <td>
                    <div style="text-align: center; width: 300px" class="input-group m-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="tempMaxAddon"> Temperatura Massima
                            </span>
                        </div>

                        <input id="temp_max" aria-labelledby="tempMaxAddon"
                               type="text" class="form-control"
                               name="temp_max" value= "{{ plant.temperature_max }}">

                        <div class="input-group-append">
                            <span class="input-group-text"> °C </span>
                        </div>

                    </div>
                 </td>
             </tr>

             <tr>
                 <td>
                    <div style="text-align: center; width: 300px" class="input-group m-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="LuceInnaff"> Luce per Innaffiare
                            </span>
                        </div>

                        <input id="watering_light" aria-labelledby="LuceInnaff"
                               type="text" class="form-control"
                               name="watering_light" value= "{{ (plant.watering_light * 100 / 255)|round|int }}">

                        <div class="input-group-append">
                            <span class="input-group-text"> % </span>
                        </div>

                    </div>
                 </td>

                 <td>
                     <div style="text-align: center; width: 300px" class="input-group m-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="ContainerSize"> Capienza Container
                            </span>
                        </div>

                        <input id="water_container_size" aria-labelledby="ContainerSize"
                               type="text" class="form-control"
                               name="water_container_size" value= "{{ plant.water_container_size }}">

                        <div class="input-group-append">
                            <span class="input-group-text"> litri </span>
                        </div>

                    </div>
                 </td>
             </tr>

             <tr>
                 <td>
                      <div style="text-align: center; width: 300px" class="input-group m-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="transmitPoweradd"> Transmit-Power
                            </span>
                        </div>

                        <select aria-labelledby="transmitPoweradd" name="transmit_power" class="form-control">

                         {% if plant.transmit_power == 1 %}
                            <option value="1" selected>1</option>
                         {% else %}
                            <option value="1">1</option>
                         {% endif %}

                         {% if plant.transmit_power == 2 %}
                            <option value="2" selected>2</option>
                         {% else %}
                            <option value="2">2</option>
                         {% endif %}

                         {% if plant.transmit_power == 3 %}
                            <option value="3" selected>3</option>
                         {% else %}
                            <option value="3">3</option>
                         {% endif %}

                         {% if plant.transmit_power == 4 %}
                            <option value="4" selected>4</option>
                         {% else %}
                            <option value="4">4</option>
                         {% endif %}

                         {% if plant.transmit_power == 5 %}
                            <option value="5" selected>5</option>
                         {% else %}
                            <option value="5">5</option>
                         {% endif %}

                         {% if plant.transmit_power == 6 %}
                            <option value="6" selected>6</option>
                         {% else %}
                            <option value="6" >6</option>
                         {% endif %}

                         {% if plant.transmit_power == 7 %}
                            <option value="7" selected>7</option>
                         {% else %}
                            <option value="7">7</option>
                         {% endif %}
                    </select>
                    </div>
                 </td>

                 <td>
                     <div style="text-align: center; width: 300px" class="input-group m-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sendAdd"> Send-Time
                            </span>
                        </div>
                     <select aria-labelledby="sendAdd" name="send_time" class="form-control">
                        {% if plant.send_time == 5 %}
                            <option value="5" selected>5 min.</option>
                         {% else %}
                            <option value="5">5 min.</option>
                         {% endif %}

                         {% if plant.send_time == 10 %}
                            <option value="10" selected>10 min.</option>
                         {% else %}
                            <option value="10">10 min.</option>
                         {% endif %}

                         {% if plant.send_time == 15 %}
                            <option value="15" selected>15 min.</option>
                         {% else %}
                            <option value="15">15 min.</option>
                         {% endif %}

                         {% if plant.send_time == 20 %}
                            <option value="20" selected>20 min.</option>
                         {% else %}
                            <option value="20">20 min.</option>
                         {% endif %}

                        {% if plant.send_time == 25 %}
                            <option value="25" selected>25 min.</option>
                        {% else %}
                            <option value="25">25 min.</option>
                        {% endif %}

                        {% if plant.send_time == 30 %}
                            <option value="30" selected>30 min.</option>
                        {% else %}
                            <option value="30">30 min.</option>
                        {% endif %}

                        {% if plant.send_time == 35 %}
                            <option value="35" selected>35 min.</option>
                        {% else %}
                            <option value="35">35 min.</option>
                        {% endif %}

                        {% if plant.send_time == 40 %}
                            <option value="40" selected>40 min.</option>
                        {% else %}
                            <option value="40">40 min.</option>
                        {% endif %}

                        {% if plant.send_time == 50 %}
                            <option value="50" selected>50 min.</option>
                        {% else %}
                            <option value="50">50 min.</option>
                        {% endif %}

                        {% if plant.send_time == 60 %}
                            <option value="60" selected>1 h.</option>
                        {% else %}
                            <option value="60">1 h.</option>
                        {% endif %}
                     </select>
                     </div>
                 </td>

             </tr>

         </table>
         <table width="750px" class="MyTable" style=" margin-top: 0px; text-align: center" align="center">
             <tr>
                 <td> <button class="myButton" name="submit" type="submit"> Imposta</button> </td>
             </tr>
         </table>


    </form>
    <br>
    <br>
    <a class="myButton" href="http://127.0.0.1:5000/plant/{{plant.id}}"> <i class="fas fa-arrow-circle-left"></i> Indietro </a>

    {% endblock %}