<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}

    {% block content %}

    <h2 class="mt-3"> Impostazioni della radio <br> <code>{{ radio.name }}</code> </h2>

     <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

          <table class="MyTable" width="350px" align="center" style="text-align:center;margin-bottom:0px;">
             <tr class="m-3">
                <td>
                   <div style="text-align: center; width: 300px" class="input-group m-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"> Nome Radio
                        </span>
                    </div>
                    <input id="radio_name" aria-describedby="basic-addon1" type="text" class="form-control" name="radio_name" value={{radio.name}}>
                    </div>
               </td>
             </tr>
             <tr class="m-3">
                <td>
                   <div style="text-align: center; width: 300px" class="input-group m-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2"> Transmit-power
                        </span>
                    </div>
                        <select id="transmit_power" aria-describedby="basic-addon2" name="transmit_power" class="form-control">

                         {% if radio.transmit_power == 1 %}
                            <option selected>1</option>
                         {% else %}
                            <option>1</option>
                         {% endif %}

                         {% if radio.transmit_power == 2 %}
                            <option selected>2</option>
                         {% else %}
                            <option>2</option>
                         {% endif %}

                         {% if radio.transmit_power == 3 %}
                            <option selected>3</option>
                         {% else %}
                            <option>3</option>
                         {% endif %}

                         {% if radio.transmit_power == 4 %}
                            <option selected>4</option>
                         {% else %}
                            <option>4</option>
                         {% endif %}

                         {% if radio.transmit_power == 5 %}
                            <option selected>5</option>
                         {% else %}
                            <option>5</option>
                         {% endif %}

                         {% if radio.transmit_power == 6 %}
                            <option selected>6</option>
                         {% else %}
                            <option>6</option>
                         {% endif %}

                         {% if radio.transmit_power == 7 %}
                            <option selected>7</option>
                         {% else %}
                            <option>7</option>
                         {% endif %}
                        </select>
                    </div>
               </td>
             </tr>
                <tr>
                    <td>
                    <div style="text-align: center; width: 300px" class="input-group m-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"> Sleep-time
                        </span>
                    </div>
                    <select id="sleep_time" aria-labelledby="basic-addon3" name="sleep_time" class="form-control">
                        {% if radio.sleep_time == 5 %}
                            <option value="5" selected>5 min.</option>
                         {% else %}
                            <option value="5">5 min.</option>
                         {% endif %}

                         {% if radio.sleep_time == 10 %}
                            <option value="10" selected>10 min.</option>
                         {% else %}
                            <option value="10">10 min.</option>
                         {% endif %}

                         {% if radio.sleep_time == 15 %}
                            <option value="15" selected>15 min.</option>
                         {% else %}
                            <option value="15">15 min.</option>
                         {% endif %}

                         {% if radio.sleep_time == 20 %}
                            <option value="20" selected>20 min.</option>
                         {% else %}
                            <option value="20">20 min.</option>
                         {% endif %}

                        {% if radio.sleep_time == 25 %}
                            <option value="25" selected>25 min.</option>
                        {% else %}
                            <option value="25">25 min.</option>
                        {% endif %}

                        {% if radio.sleep_time == 30 %}
                            <option value="30" selected>30 min.</option>
                        {% else %}
                            <option value="30">30 min.</option>
                        {% endif %}

                        {% if radio.sleep_time == 35 %}
                            <option value="35" selected>35 min.</option>
                        {% else %}
                            <option value="35">35 min.</option>
                        {% endif %}

                        {% if radio.sleep_time == 40 %}
                            <option value="40" selected>40 min.</option>
                        {% else %}
                            <option value="40">40 min.</option>
                        {% endif %}
                     </select>
                    </div>
                    </td>
                </tr>
                <tr>
                  <td>  <button class="myButton" id="submit" name="submit" type="submit"> Imposta</button> </td>
                </tr>
         </table>
    </form>

    <br>
    <br>
    <a class="myButton" href="/radios"> <i class="fas fa-arrow-circle-left"></i> Torna indietro </a>

    {% endblock %}