<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}

    {% block content %}

    {% if alert == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Richiesta operazione avvenuta con successo!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if alert == 'fail-url' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Indirizzo Radio inesistente - Operazione faillita
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}
    {% if alert == 'fail-param' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Nessun parametro cambiato - Operazione faillita
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}
    {% if alert == 'fail' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Impossbile inoltrare la richiesta - Operazione faillita
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}

     <h2 class="mt-3"> Impostazioni della radio '{{ radio.name }}'</h2>

     <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

          <table class="MyTable" align="center">
              <tr>
                 <td> <label> {{ form.radio_name.label }} </label> </td>
                 <td>{{ form.radio_name(size=24, value = radio.name)}} </td>
               </tr>
          </table>

         <p> {{ form.submit()}} </p>

    </form>

    <br>
    <br>
    <a class="myButton" href="http://127.0.0.1:5000/radios"> <i class="fas fa-arrow-circle-left"></i> Indietro </a>

    {% endblock %}