<!DOCTYPE html>
<html>

{% extends 'layout.html' %}

 {% block content %}

    <h2 class="mt-3"> Utenti registrati </h2>
            {% for user in users | sort(attribute='role')%}
                 {% if loop.changed(user.role) %}
                    <h4  style="font-size:18px; margin-top: 50px" class="m-0">Utenti con ruolo
                        <code style="font-size: 19px">
                        {% if user.role == 0 %} Admin:
                        {% elif user.role == 1 %} Utente:
                        {% endif %}</code> </h4>
                    <br>
                   {% for user_i in users if user_i.role == user.role %}
                        <a class="myButton" style="font-size: 14px; margin-left: 4px; margin-bottom: 20px" title="Modifica" href="/user_settings/{{ user_i.username }}">
                             <i class="fas fa-user-edit"></i>
                            {{ user_i.username }}
                        </a>
                   {% endfor %}
                    <br>
                {% endif %}
            {% endfor %}
    {% endblock %}

</html>
